In [1]:
import numpy as np
import pandas as pd
import yaml
import geopandas as gpd

import sys
sys.path.insert(1, '../') 
from utils.load_data import *

with open("../config.yaml") as f:
    config = yaml.safe_load(f)

In [2]:
stations = load_stations()
stations.head(3)

,URL,Station de service,Ville,Adresse,Coordinates,Energies,Lavage,Paiement,Produits & Services,Services,Club TotalEnergies,Truck,lat,lon
0,https://store.totalenergies.fr/fr_FR/NF059116,RELAIS SERIGUETTE,AIMARGUES,"2 bis. ROUTE DE LA PETITE CAMARGUE , 30470 AI...","43.6961378,4.2007447","AdBlue Truck, Excellium 98, Excellium Diesel, ...",NaN,"Routex, UTA, DKV, Mobility de TotalEnergies, M...","AdBlue Truck,","Café, Justbip, Wifi, AdBlue bidon,","Assistance Club 10 Jours, Jauge Cadeau, Cagnot...","Truck, Truck store,",43.6961378,4.2007447
1,https://store.totalenergies.fr/fr_FR/NF080036,RELAIS DEVEZE,BEZIERS,"1 AVENUE DE LA DEVEZE , 34500 BEZIERS, FRANCE","43.33150089999999,3.2474023","AdBlue Truck, Super Ethanol e85, Excellium 98,...","Lavage Haute Pression, Aspirateur, Lavage à Ro...","UTA, Carte Jubileo, MOL, Carte Wash, American ...","AdBlue Truck,","FDJ, Café, Lavage à Rouleaux, Justbip, Gonflag...","Assistance Club 10 Jours, Jauge Cadeau, Cagnot...","Truck, Truck store,",43.33150089999999,3.2474023
2,https://store.totalenergies.fr/fr_FR/NF080198,RELAIS SAINT MATHURIN,ALLONNE,"ZAC SAINT MATHURIN - RD 1001 , 60000 ALLONNE,...","49.409445,2.12815","Borne DC175 kW, AdBlue Truck, Excellium 98, Ex...","Aspirateur, Lavage à Rouleaux,","Visa, American Express, Mastercard, Eurotrafic...","AdBlue Truck,","Café, Lavage à Rouleaux, Gonflage, Wifi, Justb...","Assistance Club 10 Jours, Jauge Cadeau, Cagnot...","Truck, Pompes PL,",49.409445,2.12815

In [3]:
rrn_vsmap = load_rrn_vsmap()
rrn_vsmap.head(3)

,route,lib_rte,dist_deb,dist_fin,portee,gestionnai,nom_plo_in,nom_plo_fi,geometry,dep
0,A0039,A39,0,789,D,APRR,CS71PR121DC,01PR122DC,"LINESTRING (874971.982 6596608.043, 874966.849...",01
1,A0039,A39,789,1789,D,APRR,01PR122DC,01PR123DC,"LINESTRING (874467.925 6596004.632, 874466.965...",01
2,A0039,A39,1789,2789,D,APRR,01PR123DC,01PR124DC,"LINESTRING (874217.114 6595045.468, 874217.103...",01

In [4]:
rrn_bornage = load_rrn_bornage()
rrn_bornage.head(3)

,route,lib_rte,cumuld,pr,nom_plo,gestionnai,logique,ecart1,ecart2,ecart3,ecart4,ecart5,ecart6,ecart7,ecart8,qualite,x_gps,y_gps,geometry
0,01 A0039,A39,0,121.0,CS71PR121DC,APRR,CS,2,None,None,None,None,None,None,1,5,874971.0,6596608.0,POINT (874971.982 6596608.043)
1,01 A0039,A39,789,122.0,01PR122DC,APRR,SC,2,None,13,None,None,None,None,1,5,874467.0,6596004.0,POINT (874467.925 6596004.632)
2,01 A0039,A39,1789,123.0,01PR123DC,APRR,SC,1,None,8,None,None,None,None,0,5,874217.0,6595045.0,POINT (874217.114 6595045.468)

In [5]:
regions = load_regions()
regions.head(3)

,id_newregi,nomnewregi,geometry
0,11,Pays de la Loire,"MULTIPOLYGON (((295044.400 6636866.000, 295114..."
1,10,Nord-Pas-de-Calais et Picardie,"POLYGON ((598632.600 7042442.200, 598691.700 7..."
2,12,Provence-Alpes-CÃ´te d'Azur,"MULTIPOLYGON (((910437.300 6342569.700, 910587..."

In [6]:
traffic = load_traffic()
traffic.head(3)

,dateRefere,route,longueur,prD,depPrD,concession,absD,cumulD,xD,yD,...,cumulF,xF,yF,zF,cote,anneeMesur,typeCompta,tmja,pctPL,geometry
0,2018-01-01,69D0301,6055.0,2,69,N,-981.0,0.0,844036.84,6510806.45,...,6055.0,849346.89,6509342.34,0.0,I,0,None,0,0.0,"LINESTRING (844036.841 6510806.450, 844044.447..."
1,2018-01-01,69D0383,13752.0,4,69,N,-494.0,0.0,846831.30,6522372.16,...,13752.0,843537.87,6512429.80,0.0,I,0,None,0,0.0,"LINESTRING (846831.303 6522372.160, 846865.124..."
2,2018-01-01,69D0383BPNL,2408.0,0,69,N,0.0,0.0,844982.46,6522772.27,...,2408.0,846831.30,6522372.16,0.0,I,0,None,0,0.0,"LINESTRING (844982.456 6522772.273, 844995.417..."

In [7]:
depreg = load_depreg()
depreg.head(3)

  num_dep           region_name
0      01  Auvergne-Rhône-Alpes
1      02       Hauts-de-France
2      03  Auvergne-Rhône-Alpes

In [8]:
airesPL = load_airesPL()
airesPL.head(3)

     e1                                           geometry
0   1.0  POLYGON ((306902.300 6698606.120, 306928.370 6...
1  11.0  POLYGON ((438799.329 6718105.186, 437358.871 6...
2  12.0  POLYGON ((526362.570 6705773.465, 526295.674 6...